body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.headerContainer {

}

.menuScrollContainer {

}

.menuContainer {

}

.menuLink {
	margin: 5px;
}

.menuLink a {
	font-weight: bold;
	padding: 3px;
	color: black;
}

.menuLinkSelected a {
	background-color: #FF7100;
	color: white;
}

.sourceLink {
	font-weight: bold;
	padding: 3px;
	color: black;
}

.sourceLink:hover {
	cursor: pointer;
	text-decoration: underline;
}

.sourceLinkSelected {
	color: grey;
}

.sourceLinkSelected:hover {
	cursor: auto;
	text-decoration: none;
}

.mainScrollContainer {
	padding: 10px;
}